.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  

  body {
    background-color: rgb(173, 52, 52); 
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  } 
  .campos-container {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c97878;
    border-radius: 5px;
    resize: vertical;
  }
  
  .contador {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #btn-contar {
    padding: 10px 20px;
    background-color: #9e0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #btn-contar:hover {
    background-color: #000000;
  }