.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;

    text-align: center;
    background-color: rgb(255, 255, 255); 

  }
  

  body {
    background-color: rgb(104, 31, 201); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
  } 

  .campos-container {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    resize: vertical;
  }

h1 {color:  rgb(104, 31, 201);
}


  
  .contador {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #btn-contar {
    padding: 10px 20px;
    background-color: rgb(104, 31, 201); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #btn-contar:hover {
    background-color: #7e7e7e;
  }